{% extends 'app/base.html' %}
{% csrf_token %}
<!--USER DASHBOARD-->

{% block content %}

<div class="col-md-4">
    <h1 class="mb-5 mt-5">Messages</h1>
    <div class="rounded card p-3">
      {% for message in messages %}
        {% include 'includes/message_card.html' with message=message user=user%}
      {% endfor %}
      <form method="post" action="{% url 'messages' %}">
        {% csrf_token %}
        <input placeholder="Message..." name="message" style="width: 100%">
        <br><br><button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-ok"></span> Send
        </button>
      </form>

    </div>
  </div>

{% endblock %}